[submodule "site-lisp/restclient"]
	path = site-lisp/restclient
	url = git://github.com/pashky/restclient.el.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
