[submodule "site-lisp/restclient"]
	path = site-lisp/restclient
	url = git://github.com/pashky/restclient.el.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/nablaone/slime.git
