[submodule "site-lisp/restclient"]
	path = site-lisp/restclient
	url = git://github.com/pashky/restclient.el.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/nablaone/slime.git
[submodule "site-lisp/jump-char"]
	path = site-lisp/jump-char
	url = https://github.com/lewang/jump-char.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "site-lisp/ipython-el"]
	path = site-lisp/ipython-el
	url = https://github.com/von/ipython.el.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
